@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

/** 1. EXTENDER TEMA */
@theme {
	/* Xbox 360 theme (light) */
	--color-background: #f2f2f2; /* Gris claro Xbox 360 */
	--color-foreground: #333333; /* Texto gris oscuro */
	--color-primary: #107C10; /* Verde Xbox */
	--color-secondary: #3A96DD; /* Azul botón X */

	--color-muted: #dcdcdc; /* Gris para cajas */
	--color-accent: #ffffff; /* Amarillo botón Y */
	--color-border: #b0b0b0; /* Bordes */
	--color-link: #107C10; /* Links verdes Xbox */

	--color-button: #e0e0e0; /* Botón gris Xbox */
	--color-highlight: #3A96DD; /* Hover azul Xbox */

	--font-inter: 'Inter', sans-serif;
}

/** 2. SOBREESCRIBIR LAS VARIABLES DE COLORES PARA CADA TEMA */
@layer base {
	/* PlayStation 2 theme (dark) */
	:root[data-theme='dark'] {
		--color-background: #1a1a1a; /* Negro grafito PS2 */
		--color-foreground: #ffffff; /* Texto gris claro */
		--color-primary: #3C6EB4; /* Azul PS2 */
		--color-secondary: #555555; /* Gris medio para botones */

		--color-muted: #2a2a2a; /* Gris para cajas */
		--color-accent: #4d4d4d; /* Azul PS2 para hover / acento */
		--color-border: #444c7b; /* Bordes azulados PS2 */
		--color-link: #3C6EB4; /* Links azul PS2 */

		--color-button: #3C6EB4; /* Botón azul PS2 */
		--color-highlight: #00FF00; /* Verde para detalles hover / ON */
	}
}

/** 3. APLICAR UTILIDADES GLOBALES AL HTML, BODY */
html,
body {
	@apply bg-[var(--color-background)] text-[var(--color-foreground)] font-inter;
}
